{% extends 'game/base.html' %}

{% load static %}
<script src="{% static 'js/dictionary.js' %}" charset="utf-8"></script>
<script src="{% static 'js/app.js' %}" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}"></link>

{% block content %}

    <h3>Score:<span id="score">0</span></h3>
    <button id="start-button">Start/Pause</button>

    <div class="container">
      
      <div class="grid">
        {% for i in n %}
            <div ></div>
        {% endfor %}
        
        {% for i in m %}
            <div class="taken"></div>
        {% endfor %}
      </div>


      <div class="mini-grid">
        {% for i in k %}
            <div ></div>
        {% endfor %}
      </div>

    </div>
              
{% endblock %}
