{% extends 'game/base.html' %}
{% block content %}

    <h3>Score:<span id="score">0</span></h3>
    <button id="start-button">Start/Pause</button>

    <div class="container">
      
      <div class="grid">
        {% for i in n %}
            <div ></div>
        {% endfor %}
        
        {% for i in m %}
            <div class="taken"></div>
        {% endfor %}
      </div>


      <div class="mini-grid">
        {% for i in k %}
            <div ></div>
        {% endfor %}
      </div>

    </div>
              
{% endblock %}
