{% extends 'game/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
      <h3>Score:
        <span id="score">0</span>
      </h3>
      <h3 id="msg"><h3>
      <button id="start-button">Start/Pause</button>
      <button id="save-button">Save score</button>

      <div class="container">
        
        <div class="grid">
          {% for i in n %}
              <div ></div>
          {% endfor %}
          
          {% for i in m %}
              <div class="taken"></div>
          {% endfor %}
        </div>

        <div class="mini-grid">
          {% for i in k %}
              <div ></div>
          {% endfor %}
        </div>

      </div>
    {% else %}
      <h1>Login to play!</h1>
      <a href="{% url 'login' %}">Login here</a>
    {% endif %}
    
              
{% endblock %}
