{% extends 'game/base.html' %}
{% block content %}       

    {% if user and user.is_authenticated %}
            <ul class="list-group list-group-numbered"></ol>
                {% for score in scoresList %}
                        <li class="list-group-item">{{ score }}</li>
                     
                {% endfor %}
            </ul>
    {% else %}

        <center class="container">
            <h1>Login to view scores!</h1>
            <div><a href="{% url 'login' %}">Login here</a></div>
        </center>

    {% endif %}

{% endblock %}    
