:root {
  --button_top: 15%;
  --save_button_top: 10%;
  --data_top: 20%;
  --content_top: 30%;
  --button_right: 50%;
  --data_right: 53%;
  --msg_right: 45%;

  --content_right: 24%;
  --words_right: 40%;

  --scale: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: powderblue;
}

* {
  box-sizing: border-box;
  font-family: 'Varela Round';
  font-size: calc(22px * var(--scale));
  font-weight: bold;
}

.center {
  position: fixed;
  left: 5%;
  top: 5%;
}

.container {
  position: fixed;
  top: var(--content_top);
  right: var(--content_right);
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Overwrite bootstrap styling */
  line-height: 1em;
}

#matched_words {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: var(--words_right);
}

#matched_words div {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#start-button{
  position: fixed;
  top: var(--button_top);
  right: var(--button_right);
  border-radius: 25px;
}

#save-button {
  position: fixed;
  top: var(--save_button_top);

  right: var(--button_right);
  border-radius: 25px;
}

#data {
  position: relative;
  top: 20%;
  right: 0%;
}


.grid {
  width: calc(200px * var(--scale));
  height: calc(400px * var(--scale));
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(96, 172, 216);

}

.grid div{
  height: calc(20px * var(--scale));
  width: calc(20px * var(--scale));
  text-align: center;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: calc(80px * var(--scale));
  height:calc(80px * var(--scale));
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(209, 165, 89);

}

.mini-grid div {
  height: calc(20px * var(--scale));
  width: calc(20px * var(--scale));
}

